html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #eee;
    font: caption;
  }


  canvas{
  
    position:relative; left:25%; top:-25%;
}
  
.game_header{
    font:caption;
    text-align: center;
    font-size: 2rem;
}

ul{
    color : white;
}